body{
	padding-top: 30px;
}


/* Customize container */
@media (min-width: 950px) {
	.container {
		max-width: 912px;
	}
} 
.hide {
    display: none;
}
/* Space out the masthead */
/*.header {
margin-bottom: 50px;
} */

.shopheader {
    background-color: #fa9742;
    color: #fff;
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 15px;
}

.shopheaderall {
    background-color: #fa9742;
    color: #fff;
    margin-top: 10px;
    overflow: auto;
    padding: 10px;
}

.selectshop {
	color:#333;
}

.shopbg {
    background-color: #f3f3f3;
    margin-top: -10px;
    padding: 20px;

}

.productdetails {
	background-color: #fff;
	margin:20px;
	padding:20px;
}

.totalprice {
    color: #fff;
    font-size: 25px;
    padding-top: 18px;
}

.shoppanels .panel-heading{
    cursor: pointer;
}

.arrows {margin-right: 10px;}

.pricedetails {
    margin: 20px 0;
    font-size: 13px;
}

.price{
    /*margin-left: 20px;*/
    font-size: 15px;
    font-weight: bold;
}

.loader {
    background: url("../images/loader.GIF") no-repeat;
    width: 54px;
    height: 55px;
    margin: 20px auto;
    display: block;
}
.name {
    margin-bottom: 20px;
}