body{
	padding-top: 30px;
}

.clear{
	clear:both;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
} 

/* Space out the masthead */
/*.header {
margin-bottom: 50px;
} */

.shopheader {
	background-color: #FA9742;
	color:#fff;
	padding:10px;
}

.shopbg {
    background-color: #f3f3f3;
    margin-top: -10px;
    padding: 20px;

}